<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="part/general.html :: header"></div>

<body>
<div th:replace="part/general.html :: navbar"></div>


<!--<span th:text="${test}"></span>-->
<!--<form th:action="@{'/test'}">-->
<!--    <button type="submit" class="btn">-->
<!--        Test method-->
<!--    </button>-->
<!--</form>-->


<div class="container">
    <h1 class="" style="text-align: center">Welcome to converter Spotify to Youtube playlist</h1>
    <br/>
    <form action="#" th:action="@{/convertSpotify}" method="post" style="margin-bottom: 5vh">
        <div class="row justify-content-center">
            <label for="playlistToConvert" class="col-lg-2 col-form-label">Music List</label>
            <div class="col-lg-4">
                <input class="form-control" type="text" id="playlistToConvert" name="playlistToConvert"/>
            </div>
        </div>
        </br>
        <div class="row justify-content-center">
            <button type="submit" class="col-lg-2 col-sm-2 btn btn-outline-dark">Converter</button>
        </div>
    </form>


    <div class="row justify-content-center">
        <div class="col-sm-2 col-lg-2" th:if="${spotifyList != null}">
            <a th:href="@{${spotifyList}}">Youtube Playlist</a>
        </div>
    </div>
</div>

<div th:replace="part/general.html :: footer"></div>
</body>
</html>


